{% extends "layout.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{post.title}} - Hung Hoang">
<meta property="twitter:title" content="{{post.title}} - Hung Hoang">

{% if post.description %}
<meta name="description" content="{{post.description}}">
<meta property="og:description" content="{{post.description}}">
<meta property="twitter:description" content="{{post.description}}">
{% endif %}

{% if post.preview_image %}
<meta property="og:image" content="https://hoangquochung1110.github.io/static-site-generator/static/{{post.preview_image}}">
<meta property="twitter:image" content="https://hoangquochung1110.github.io/static-site-generator/static/{{post.preview_image}}">
{% endif %}

{% if post.preview_image_alt %}
<meta name="twitter:image:alt" content="{{post.preview_image_alt}}">
{% endif %}

<meta property="og:url" content="/">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="">
{% endblock %}

{% block content %}
<article>
  <aside class="timestamp">
    <time>Posted by Hung Hoang on {{post['date']}}</time>
    · <a href="./">view all posts</a>
  </aside>
  <h1>{{post.title}}</h1>
  <content>
    {{content}}
  </content>
</article>
{% endblock %}
